/*
	.cent{
		width: 30%;
		padding-top: 200px; 
	}
	.btnn{
		width: 50%;
		float: left;

	}
fieldset{
    border-radius: 5px;
}
#logintxt{
	font-size: 1.5em;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    
}
*/
body{
	background-image: url(../images/Loginbkg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	height: 100%;
}
button{
	float: auto;
	margin:10px 0 10px;
	width:100%;
	height: 45px;
	border-radius: 5px;
	
}

input{
	
	height: 50px;
	
	width: 100%;
}
#loginbtn{
	background-color: #73c2fb;
}
#back-div{
background-color: azure;
margin: 0px auto;
width: 310px;
	height: 101%;
}
#form-div{
background-color: aliceblue;
margin: 0px auto;
border: solid 1px;
width: 300px;
}

.input-field{
	bottom: 50px;
	border: solid 2px solid;
	left: 10px;
	width: 100%;
	height: 50px;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	padding: 5px;
}
/*i{
	position: relative;
	top: 39px;

}
input[type="text"]{
	z-index: 0.
	border: none;
	position: relative;
	left: 30px;
	
}*/
/*.icon-element{
	position: relative;
	top: px;
	background-color: darkgray;
	width: 30px;
}*/
/*input[type="password"]{
	border: none;
	position: relative;
	left: 30px
}*/
}


