/*
	.cent{
		width: 30%;
		padding-top: 200px; 
	}
	.btnn{
		width: 50%;
		float: left;

	}
fieldset{
    border-radius: 5px;
}
#logintxt{
	font-size: 1.5em;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    
}
*/
button{
	float: auto;
	margin-bottom: 10px;
	width:25%;
	
}
button
input{
	z-index: 200;
	border: none;
	height: inherit;
	width: inherit;
}
.input-field{
	z-index: 2;
	background: yellow;
	border: solid 1px;
	width: 210px;
	margin-bottom: 10px;
	border-radius: 5px
}

