#top-part{
height: 100px;
background-color:antiquewhite;

}
#pdetails{ 
    height:20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    
}
#companyLogo{
    height:100%;
    width: 200px;
    border: 1px solid blue;
}

h1{ 
    position: relative !important;
    float: inherit !important;
    font-family: sans-serif !important;
    font-style: oblique !important;
    font-size: 12px !important;
}
.containers{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
#side{
    float: left;
    width: 350px;
    height: 581px;
    background-color: cadetblue;
}
.litems{
    border-bottom: 1px solid red;
    color: white;
    background-color: darkgrey;
    width: 100%;
    height: 30px;
    text-align: left;
}
.litems:hover{
    border-bottom: 1px solid white;
    color: blue;
    background-color: teal;
   
}
#main{
    background-color: white;
    margin-left: 350px;
    width: 100%;
    height: 100%;    
}
li>a:hover{
    text-decoration: none;
    color: blueviolet;
}
h5{
 width: 500px;
    color: blue;
}
.footer{
    position: static;
    width: 100%;
    height: 30px;
    bottom: 10px;
    background-color: cornsilk;
}