body{
	//background-image: url(../images/Loginbkg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	height: 100%;
}
.form-body{
	width: 500px;
	padding: 5px;
	margin: 0 auto;
}
input{
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}



input[name="surname"], input[name="UserPhone"], input[name="confirmPassword"], input[name="companyPhone"]{
	margin-left: 10px;
}