#companyadd{
	padding: 20px 10px 0px 0px;
	float: right;
	color:red;
	font-size: 10px;
}
/*.det01{
	border: 1px solid;
}*/
#ref{
	font: sans-serif;
}
.tt1{
	//display: block;
	clear: both;
}
.sd{
	padding: 10px 0px 10px 0px;
	clear: both;
}
table, tr,td{
	clear: both;
	border:1px solid;
}

td > input{
	border:  none;
}
#conts{
	padding-bottom: 10px;
}